@font-face {
  font-family: Terminal;
  src: url("/assets/fonts/terminal.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Sabo Reqular;
  src: url("/assets/fonts/Sabo-Filled.otf");
  font-weight: 200;
}
