* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IRANYekanFaRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*tab 5288c1  */
  background-color: #222e3c;
  color: white;
  padding: 0 32px;
  font-size: 16px;
  direction: rtl;
}
